[2017-10-26 08:48] altmann opened #2 "Add metadata to Reasons"
@stefandevo mentioned in PR #1 that he want to be able to add the name of the field to errors.

I want to solve this in a more generic way: There is a property MetaInfo property at the Reason class which can store some meta info, e.g. the field name.

[2017-10-26 08:55] altmann opened #3 "Remove Custom from Code"
Custom Results (not using Value property, but a custom named property) seems like a good idea to make the Value property more descriptive. In reality it was not used. Best practice is to name the function descriptive which returns a result object and also think about naming the result object correctly.

So the idea is to remove Custom Results and make the code base smaller to be more flexible for

[2017-10-26 08:55] altmann opened #4 "Remove Custom Results from documentation"
Remove Custom Results from documentation because it is not necessary any more

[2017-10-26 08:56] altmann opened #5 "Make a new release"
Make a new release and publish it to NuGet.

[2017-10-26 13:36] #3 closed

[2017-10-26 13:40] altmann commented on #4
Merged with PR #7

[2017-10-26 13:40] #4 closed

[2017-10-26 14:24] #2 closed

[2017-10-26 15:10] altmann commented on #5
New release with v0.8.0 published to NuGet

[2017-10-26 15:10] #5 closed

[2017-12-17 15:35] thedumbtechguy opened #10 "Generic Result"
How do I achieve something like this in the new version?

[code]

[code]

[2017-12-17 20:14] altmann commented on #10
I removed feature "Custom Results" in v0.8.0 (details see #3).

In the new version you have two ways to achieve your scenario:

### Option 1
Create a class which holds your AuditLogs in a separate property. The advantage is that your class name and your property name can be very descriptive and easily understandable.  The drawback is you have to define a new class. If you want to return multiple v

[2017-12-17 20:25] thedumbtechguy commented on #10
This introduces a new `Value` wrapper property. Completely breaking a
benefit with the old design, having a flat object.

I use FluentResults directly as my api result giving me a consistency. I
can't upgrade as it is.

I prefer the nice flat structure to the wrapped version.

[code]

On Sun, Dec 17, 2017 at 8:14 PM, Michael Altmann <notifications@github.com>
wrote:

--
Stefan Froelich

Technical

[2017-12-17 20:26] thedumbtechguy commented on #10
This introduces a new `Value` wrapper property. Completely breaking a
benefit with the old design, having a flat object.

I use FluentResults directly as my api result giving me a consistency. I
can't upgrade as it is.

I prefer the nice flat structure to the wrapped version.

[code]

[2017-12-18 08:16] altmann commented on #10
In General FluentResults is not designed for serialization. Because of that your reason messages are doubled in the properties "reasons", "errors" and "successes" in the JSON data structure. Not very nice.

Using Third-Party Libraries like FluentResults as your api result (I think its a Rest-like API endpoint because you posted a JSON data structure) is not a good idea because then you are coupled

[2017-12-18 08:29] thedumbtechguy commented on #10
Having  "reasons", "errors" and "successes" was a reason in using it.
Every response has status indicators and messages, Fluent's way works for us.

We'll include the code. This way, we're at least no longer tightly coupled.

Thanks.

[2017-12-18 14:19] altmann commented on #10
You are welcome. I will try to make the migration to the next versions more easily.

[2017-12-18 18:48] altmann commented on #10
I will close this issue. If you need help please create a new issue.

[2017-12-18 18:48] #10 closed

[2018-10-10 08:48] altmann opened #11 "Add project link in nuget file"
Target: Nuget users should be able to navigate from the nuget page https://www.nuget.org/packages/FluentResults/ directly to the github page https://github.com/altmann/FluentResults

[2018-10-10 08:49] altmann opened #12 "Add tag "Result" to the Nuget Tags"

[2018-10-19 18:35] #12 closed

[2018-10-19 18:59] #11 closed

[2019-01-22 10:15] altmann opened #18 "IEnumerable<Result> with extension method Merge()"
[code]

[2019-04-03 05:51] ursathi opened #20 "Overloaded method for Fail to accept multiple errors"
First of all thank you for this wonderful library. It really save so much of time & effort

I am having a requirement like below. I have two nested methods. Both returning Result object

[code]
This is the problem I am currently facing. Hope my understanding about this library is correct.  Or, can we achieve the same by someother means? If not, would it be possible to include this functionality?

[2019-04-04 20:27] altmann commented on #20
Thanks for your feedback. Your scenario can be done with the existing public api of FluentResults. See code below.

[code]

If you have further feedback please write me. Feedback is most welcome.

[2019-04-05 04:05] ursathi commented on #20
Fantastic @altmann . Thanks for your response.

[2019-04-05 04:05] #20 closed

[2019-06-11 05:16] KarloX2 opened #21 "License?"
Hello!
Can you please add license information to this project. Is it MIT?

Thanks!

[2019-06-11 06:48] altmann commented on #21
Hi,

thanks for the hint. Yes, it is licensed under MIT. I will add the license file asap - probably within the next days.

BR Michael

[2019-06-15 07:53] altmann commented on #21
@KarloX2 I added now the MIT license to the repository but I won't make a new nuget package.

[2019-06-15 07:53] #21 closed

[2019-06-15 08:12] KarloX2 commented on #21
Thanks!

[2019-10-07 18:34] altmann opened #23 "Support target framework .NET 4.8"

[2019-10-07 18:38] altmann opened #24 "Support target framework .NET Standard 2.1"

[2019-10-07 18:40] altmann opened #25 "Format metadata section in readme"

[2019-10-09 18:28] #24 closed

[2019-10-14 17:58] #25 closed

[2019-10-14 17:58] #23 closed

[2019-10-14 18:13] #18 closed

[2019-12-06 09:53] altmann opened #30 "Result<T> Constructor without value parameter makes no sense"
Set constructor to deprecated.

[2020-01-13 17:52] altmann opened #31 "Docu Errors, Success, Warnings"

[2020-04-09 11:01] milivojm opened #32 "Handling Errors"
Hi,

first, thank you for your great work. We're using your library and we'd like to know what is the best way to handle Error?

For example at one point we return a failure:

`return Results.Fail(new MoResourceNotFoundError(entityIdentifier.Id));`

Now, handling (catching) it is a bit "unfriendly":

`if (moSetupResponse.Errors.Any(x => x is MoResourceNotFoundError)`

Maybe I'm missing some helper

[2020-04-13 09:37] altmann commented on #32
Hi,
Thanks! Glad you found the library helpful.

Good point! Now there is no helper method but I think I can extend the public API of this library to support your team in this scenario. I will add ```HasError(...)``` and ```HasSuccess(...)``` methods. If you have any feedback, please reply.

[code]

Thanks for your feedback. If you think that some more functionality is missing please create an iss

[2020-04-13 15:02] altmann commented on #32
Today I extend the public api to support this scenario.

New nuget package: https://www.nuget.org/packages/FluentResults/1.5.0
Section in readme: https://github.com/altmann/FluentResults#handlingcatching-errors

Please give feedback or close the issue. Thx

[2020-04-23 11:49] marcino239 opened #34 "No issue, just wanted to say this is a great library"
Great job!

[2020-04-23 14:58] #32 closed

[2020-04-24 13:16] altmann commented on #34
Thanks for the feedback! Great that you think that the library is useful. :)

[2020-04-24 13:50] altmann opened #35 "Targeting plattforms Best Practices"
Consider best practices from ms:

https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting

[2020-04-24 13:52] altmann opened #36 "Add version correct in Version property"
Add <Version> property in csproj

[2020-04-24 13:54] altmann opened #37 "Source Link support"

[2020-04-26 06:03] milivojm commented on #32
Thank you for quick upgrade of your library!

[2020-04-28 14:29] altmann opened #38 "Renaming factoryclass to Result instead of Results"

[2020-04-28 14:30] altmann opened #39 "Serializable support"

[2020-04-28 14:59] altmann opened #40 "HasMetadata(...) with Expression"

[2020-05-17 12:44] EnergyNick opened #41 "Suggestion: Move ILogger to other namespace or rename"
Unfortunately when working with Asp.Net and Microsoft.Extensions.Logging constantly need set "using ILogger = Microsoft.Extensions.Logging.ILogger" because there is a match by name.

Would you consider this suggestion and rename or move ILogger?

[2020-05-17 18:36] altmann commented on #41
Thanks for your feedback.

Yes, I will rename the interface to IFluentResultLogger and publish a new version in the next days.

If you have any other feedback, please let me know.

[2020-05-18 09:33] EnergyNick commented on #41
Wonderful!
Thank you very much for your quick feedback and resolution of this issue 😄 👍

[2020-05-20 15:48] altmann commented on #41
It's done. ILogger is renamed to IResultLogger. The new nuget package is already published: https://www.nuget.org/packages/FluentResults/1.6.0

[2020-05-20 15:51] #41 closed

[2020-06-01 08:53] #40 closed

[2020-06-01 09:09] #36 closed

[2020-06-01 09:54] altmann opened #46 "Add LICENCE info as badge"

[2020-06-01 13:44] #37 closed

[2020-06-01 13:44] #46 closed

[2020-06-01 13:45] altmann commented on #46
Done

[2020-06-01 16:08] #35 closed

[2020-06-01 17:23] #38 closed

[2020-06-01 20:32] #30 closed

[2020-06-01 20:49] altmann commented on #39
Serializable support won't be implemented. We wait for a feature request from the devs.

[2020-06-01 20:49] #39 closed

[2020-06-07 14:17] altmann opened #50 "Change to xUnit"

[2020-06-07 14:18] altmann opened #51 "Add creation helpers"

[2020-06-07 14:34] altmann opened #52 "Create some typical examples"

[2020-06-07 16:42] altmann commented on #31
Done

[2020-06-07 16:42] #31 closed

[2020-06-11 15:35] dmarciano opened #53 "'Result' does not contain a definition of 'Ok'"
This library looks like it would be very helpful for a project I manage, however I can't get it working.

The project is a C# WebAPI (REST service) project being developed in Visual Studio 2017 (Enterprise Edition) and targets the 4.7.2 version of the .NET Framework.  I installed version 1.6.0 of FluentResults using the NuGet Package Manager built into VS.

In order to just test it quickly I looke

[2020-06-11 15:46] altmann commented on #53
Hi.

In v1.6 the factory methods like Ok or Fail are in the static class Results with a s. Results.Ok(...) should work.

I updated already the readme because I will publish v2.0 of fluentresults on nuget in the next days.

Sorry for the misunderstanding.

[2020-06-11 15:53] altmann commented on #53
Here is the old version of the readme https://github.com/altmann/FluentResults/blob/a83c92a67024313189621224aaf543ac2ad50caa/README.md

[2020-06-11 17:24] dmarciano commented on #53
@altmann The error did go away when I used ```FluentResults.Results.Ok(5);``` but I still don't understand why in the unit tests class from the GitHub repository ```Result.Ok(5)``` (without an 's') works correctly.

[2020-06-11 20:15] altmann commented on #53
In v1.6 the class Results is used. v1.6 is published on nuget. You used this version in your project and therefore Results.Ok() worked and Result.Ok() not.

In the current master which you see on github are already most of the changes included which will come in v2.0. v2.0 is until now not published on nuget. For example you see the new method Result.Ok(). Results.Ok() ist deprecated in v2.0. You

[2020-06-11 20:27] dmarciano commented on #53
No problem.  Thank you for the clarification.  I have it working with the initial things I wanted.  I will let you know if I come across any further issues.

Thank You

[2020-06-12 08:25] #53 closed

[2020-06-14 15:21] altmann commented on #53
@dmarciano FYI: I published today v2.0 of FluentResults. Documentation (readme) on github is now in sync with the published version on nuget.

[2020-07-12 09:47] PlexRipper opened #54 "Using FluentResults inside a MediatR validation pipeline"
Hi there,

First off, this is a great library and I'm a big fan of it!

I initially followed [this article](https://medium.com/the-cloud-builders-guild/validation-without-exceptions-using-a-mediatr-pipeline-behavior-278f124836dc) but instead of reinventing the wheel I started using FluentResults in my Fluent Validation pipeline. Basically all responses coming from my CQRS Queries are wrapped in th

[2020-07-13 10:02] altmann commented on #54
Hi,

thanks for the feedback! I also used Mediatr in a couple of projects - some with and some without the result pattern.
I would prefer the following way:

[code]
I'am not sure if its 100% buildable - but I think you will get the point. In this solution it is explicit that you use the Result object, its typesafe and you don't need Reflection magic. What do you think? Is it helpful?

[2020-07-14 03:19] mwhelan commented on #54
This is how I am using FluentResults with FluentValidation and Mediatr on my current project:

[code]

Before the handler runs, I validate the command. After the handler completes, I process any Results that came back from the domain.
I have extended Results to include Warnings. As I'm only validating commands, I am not returning any data and so don't use the Result<T> response. That being said, I

[2020-07-23 17:35] ThiagoGodinhoPaschoalin opened #55 "JsonSerialize Exception because Result.Value is a throw"
Hi, congratulations with lib, it's great. But a have a problem when try serialize my Result object.

My Scene:
![Anotação 2020-07-23 143619](https://user-images.githubusercontent.com/22103116/88319007-f05c8000-ccf1-11ea-929a-a44506105d0c.png)

I hope my exit is successful!

But, because "public bool IsFailed => Reasons.OfType<Error>().Any();", my 'Result.Value' is a throw, and Exception when a try

[2020-07-24 10:19] altmann commented on #55
Thanks for your feedback.

My opinion to use third party classes at system boundaries:
I highly recommend that the Result class from FluentResults is only used internally in your application. This means that a custom result class as data transfer object is used at the system boundaries. With an custom Result class you can make the custom Result class and the api stable and your api is independend

[2020-07-25 13:19] ThiagoGodinhoPaschoalin commented on #55
Perfect Michael, thank you.

I had a vision that 'Result.Ok()' was the success identifier, and the add-on.' WithFail()' not having the power of modification.
But with your explanation I understand that it takes a specific fit for my business.

Thank you so much for the explanation.

[2020-07-25 13:19] #55 closed

[2020-07-27 21:12] victormarante commented on #54
@mwhelan nice approach to validation. Is it possible to see the full source code? Specifically thinking about the extensions you've made to Results and such.

[2020-07-27 22:02] mwhelan commented on #54
Sure, you can see the full thing in a [sample](https://github.com/mwhelan/Specify/tree/master/src/Samples/AspNetCoreApi/app/Api/Domain/Common/FluentResult) I use for one of my open source projects. It's a bit experimental, so I welcome any feedback on how it might be improved.

If you want to understand the end-to-end, have a look at the [ToDoController](https://github.com/mwhelan/Specify/blob/mas

[2020-07-28 21:15] victormarante commented on #54
@mwhelan Thanks for the reply and sample code. Your project was quite advanced for my level of C#, but I got a good idea of how to use the Result type, so thanks for that.

[2020-08-01 17:58] JasonLandbridge commented on #54
Thank you very much @altmann and @mwhelan!

@altmann, I tried your solution but I couldn't get it to work but after some trial and error I found the reason it didn't work which I have corrected in my version below. I'm also very happy I didn't have to resort to the reflection nonsense and the end-result is very clean. :)

@mwhelan, I would not have figured out the above solution without your great

[2020-08-01 19:37] mwhelan commented on #54
thanks @JasonLandbridge , I'm glad it helped.

[2020-08-02 12:54] altmann commented on #54
@JasonLandbridge @mwhelan Thanks for all the responses. I think this is a very interesting and great sample of using FluentResult in combination with MediatR. I spend today some time to create a solution for some common usecases with MediatR.
- Command with Result (Returntype: ```Task<Result>```)
- Command without Result (Returntype: ```Task```)
- Query with Result (Returntype: ```Task<Result<Quer

[2020-08-02 16:33] PlexRipper commented on #54
@altmann, the `result as TResponse;` returning a null was the exact problem I was stuck on. I managed to solve it my case, and I will take a look at your branch and see if i can fix it.

Also, I'm probably the biggest fan of FluentResults ever because I'm making a Typescript version of FluentResults as we speak, with the same syntax so it should work 1 on 1. It's called [FluentTypeResults](https:/

[2020-08-02 16:37] JasonLandbridge commented on #54
@altmann, the `result as TResponse;` returning a null was the exact problem I was stuck on. I managed to solve it my case, and I will take a look at your branch and see if i can fix it.

Also, I'm probably the biggest fan of FluentResults ever because I'm making a Typescript version of FluentResults as we speak, with the same syntax so it should work 1 on 1. It's called [FluentTypeResults](https:/

[2020-08-03 05:51] altmann opened #56 "Port FluentResults to TypeScript"
@JasonLandbridge wrote originally [here](https://github.com/altmann/FluentResults/issues/54#issuecomment-667818245)

[2020-08-03 05:52] altmann commented on #54
This would be great! Let me know if you know the a solution.

I created an issue #56 so that we can discuss this topic separately.

[2020-08-03 07:51] JasonLandbridge commented on #54
@altmann, I have been trying to find a solution for the past several hours but I can't get it to work. I'm stuck on the validation pipeline not being called whatever I do or change. I can however confirm its working in my own project, on queries and commands with results.

I will make an repository now with a working sample of how I have everything setup and then it might be easier to figure out w

[2020-08-03 10:12] JasonLandbridge commented on #54
@altmann, okay scratch that.. In my project it's also not working, the pipeline is never called and instead it was validating against the web API layer in which I also have Fluent Validation integrated. Which caused me to wrongly assume that it is working, I tried it with my queries and commands directly and none of it is working :(

Apologies for the misleading, I am now trying to find a solution

[2020-08-03 11:35] JasonLandbridge commented on #54
I managed to resolve the TResponse to null issue, but it does require a public parameterless constructor in Result:

[code]

I imported FluentResults into the project directly and made the changes to the Result constructor, everything can be found here: [FluentResultMediatr](https://github.com/JasonLandbridge/FluentResultMediatr)

[2020-08-03 15:27] altmann commented on #56
First thanks @JasonLandbridge for your good feedback.

**About using FluentResult types as Returntype of WebApis:**
I highly recommend that the Result class from FluentResults is only used internally in your application. This means that a custom result class as data transfer object is used at the system boundaries. With an custom Result class you can make the custom Result class and the api stable

[2020-08-03 15:32] altmann commented on #54
Thanks @JasonLandbridge for your time and for your solution. I think its no problem to make the constructor public so that the combination of MediatR and FluentResults works without reflection.

I will have a look at your solution today or the next days and will respond here.

[2020-08-03 15:47] JasonLandbridge commented on #54
Awesome, thanks!

[2020-08-04 06:30] altmann commented on #54
@JasonLandbridge I have a look yesterday evening and your solution works in all usecases in success and failed state. Congratulations. The problem is that you also add this method to ResultBase which return ResultBase which is not expected as consumer. Consumer use Result and Result<T> and know nothing about ResultBase. I will have a look at this the next days.

[code]

[2020-08-04 14:27] JasonLandbridge commented on #54
Nice! Yeah me adding the `WithReason` to `ResultBase `was more to showcase the fix to get the Errors from FluentValidation into the `Result.Fail()` but now I realize I'm returning a `ResultBase` and not a `Result`.

That is the tricky issue, the `ResultBase` is the only common parent between `Result` and `Result<T>` which is why I added the `WithReason` to `ResultBase` because I could otherwise no

[2020-08-05 18:28] altmann commented on #54
@JasonLandbridge Based on your idea to create an TResponse with ```new TResponse()``` the solution is now the following:

[code]

[Mediatr Sample](https://github.com/altmann/FluentResults/blob/features/MediatRSample/src/FluentResults.Samples.MediatR/MediatRLogic/PipelineBehaviors/ValidationPipelineBehavior.cs)

I only have to make the constructors of ```Result``` and ```Result<T>``` public which i

[2020-08-11 13:33] JasonLandbridge commented on #54
Awesome @altmann, thank you very much!

[2020-08-11 17:50] JasonLandbridge commented on #56
Thank you very much for your extensive answer!

I fully agree with this, I have in the meantime created my ResultDTO. Also because the value contained in the Result was outputted twice, in Value and in ValueOrDefault, which is inefficient when I already have big JSON's.

Something simple like this:

[code]

I use AutoMapper to then map between the Result and ResultDTO which works but so far I have

[2020-08-11 19:03] altmann commented on #56
Great - this is what I mean. Decouple frontent and backend and don't transmit doublicate data. 👍

Its fine for me. Thanks but I think its not necessary to create a sample project.

For me its important, if its necessary to add a method in the public api (based on community feedback) I wanna add this new method and release a new package as fast as possible. I don't want to wait until the changes ma

[2020-08-13 06:08] altmann commented on #54
New package is available via nuget which support mediatr usecase. See https://www.nuget.org/packages/FluentResults/2.1.0
The full functional sample code can be found here: https://github.com/altmann/FluentResults/tree/master/src/FluentResults.Samples.MediatR/MediatRLogic

Thanks for all the input and support! Issue closed

[2020-08-13 06:08] #54 closed

[2020-08-14 12:22] JasonLandbridge commented on #56
No absolutely, that is my intention as well! Don't even consider the existence of FluentTypeResults :)

Thanks, I will let you know if and how it progresses!

[2020-08-15 08:52] altmann opened #59 "Reference all ressources/documentation about the result pattern in the readme"
Here the list of ressources:
- https://www.forevolve.com/en/articles/2018/03/19/operation-result/
- https://medium.com/@cummingsi1993/the-operation-result-pattern-a-simple-guide-fe10ff959080
- https://enterprisecraftsmanship.com/posts/exceptions-for-flow-control/
- https://enterprisecraftsmanship.com/posts/error-handling-exception-or-result/
- https://enterprisecraftsmanship.com/posts/what-is-exce

[2020-08-18 09:10] Loreno10 opened #60 "How do we get back the exception added with CausedBy()?"
When I finish all my operations and get the results, I want to display some logs. I wonder, how am I able to log information about the exception that is attached to a given `Error`? I see that the only property that I am able to access is `Message`.

[2020-08-18 10:38] altmann commented on #60
The method ```CausedBy(..)``` adds an Error of type ```ExceptionalError``` to the Reasons list of the Error itself.

Here is the internal code.

[code]

You can iterate it for example in this way

[code]

I hope this helps. If not please let me know.

[2020-08-21 06:59] altmann commented on #60
TODO: Improve docs in readme

[2020-09-20 16:12] altmann opened #63 "Improve readme"
- Key Features
- Independent drin other libs

[2020-09-20 16:21] altmann opened #64 "Public api docu"

[2020-09-21 20:18] JasonLandbridge opened #65 "Great FluentAssertions Support"
Hi there,

Is there a clean way to use the Result Errors in a [Fluent Assertions](https://fluentassertions.com/introduction) type of way.

As an example:
`createResult.IsFailed.Should().BeFalse(createResult.Errors.ToString());`

This outputs something like:
```Expected createResult.IsFailed to be false because System.Collections.Generic.List`1[FluentResults.Error], but found True.```

My suggestio

[2020-09-22 15:12] altmann commented on #65
Thanks for the input. I already played a couple month ago with the assertion of results from FluentResults. I planned to publish it in october during hacktoberfest. Spoiler: The functionality to assert results will be a new nuget package and it will be work together with FluentAssertions.

I use this issue for tracking so that you keep updated.

[2020-09-27 01:51] JasonLandbridge commented on #65
Sounds great! Thank you!

[2020-10-02 15:37] altmann opened #66 "English Native Speaker wanted - review readme"
Review the readme and correct to better english.

[2020-10-02 15:44] deepank120896 commented on #66
@altmann  I would like to pick this up

[2020-10-02 16:04] #50 closed

[2020-10-02 16:07] altmann commented on #66
Great thanks. Please don't change the structure - only correct grammar etc.

[2020-10-02 16:37] #59 closed

[2020-10-03 06:39] deepank120896 commented on #66
A pull request has been opened for this: https://github.com/altmann/FluentResults/pull/69

[2020-10-03 08:18] altmann commented on #66
Thank you very much @deepank120896 for your work. PR is already approved.

[2020-10-03 08:18] #66 closed

[2020-10-03 09:00] altmann commented on #60
readme improved. Issue closed

[2020-10-03 09:00] #60 closed

[2020-10-03 10:09] #64 closed

[2020-10-20 04:32] Ibrahim-Islam opened #72 "Wrapper function to catch exception and fill Results?"
Would not it be nice to have a function that can wrap any execution and return `Result` instead with all the details nicely in an object rather than throwing an exception?

[2020-10-20 14:09] altmann commented on #72
Hi, thanks for your feedback. Great idea! Can you post here an example how you want to use the function?

[2020-10-21 02:07] Ibrahim-Islam commented on #72
At the top of my head, I was thinking of something like the following:

[code]

[2020-10-21 16:11] altmann commented on #72
Thanks! I will have a look in the next days.

[2020-10-21 17:22] Ibrahim-Islam commented on #72
If I can be of any assistance then please do let me know

[2020-10-27 14:33] wolf8196 opened #73 "Add "WithErrors" methods that accept error object/error message collections?"
I've just started with the whole concept of Result objects, and currently trying to use them/learn how to use them in the old pet project of mine.
One thing that I found lacking is the method like .WithErrors, that would accept IEnumerable of either Error objects or error messages. Because there are few places where I already have error collection of some sort, and it would be convenient to attach

[2020-10-27 15:27] altmann commented on #73
Hi thanks for your feedback! This is interesting. In which scenarios do you use this extension method?

[2020-10-28 06:22] wolf8196 commented on #73
There are currently 2 instances.
First is after validation. FluentValidation returns ValidationResult obj with errors in it, and I put its error messages into the Result obj.
[code]

The second case is similar. DotLiquid's Template obj contains errors if rendering went wrong.
[code]

[2020-10-28 06:57] altmann commented on #73
Thanks for the samples. I will have a look at it tomorrow but I also think that it makes sense to provide a WithErrors(...) method.

[2020-10-29 11:39] altmann commented on #72
@Ibrahim-Islam Do you mean something like that #74. Please have a look at the readme.

[2020-10-29 11:45] Ibrahim-Islam commented on #72
@altmann Exactly! This is very cool 💯 / 💯

[2020-10-29 12:18] altmann commented on #73
With the current version of FluentResults you can use the method ```WithReasons(...)``` to pass multiple errors to result. A Reason can be an ```Error``` or a ```Success```. Both types (```Error``` and ```Success```) inherit from type ```Reason```. I know it's not perfect because the intent to add errors is not that much clear as with a method name like ```WithErrors(...)```.

The next version of

[2020-10-29 12:21] altmann commented on #72
Thanks for your feedback. The new version will be published today or in the next days.

[2020-10-29 13:33] altmann commented on #63
Done

[2020-10-29 13:33] #63 closed

[2020-10-29 13:47] #72 closed

[2020-10-30 07:18] altmann commented on #72
New version is published. https://www.nuget.org/packages/FluentResults/2.3.0

[2020-10-30 07:19] altmann commented on #73
The new version is published https://www.nuget.org/packages/FluentResults/2.3.0

[2020-10-30 07:26] wolf8196 commented on #73
Thanks for the update. Works great.
About the hierarchy.
At first I wanted to go simpler, and did that flat error list, but after your comment tried the hierarchy, and it does look way better)

[2020-10-30 16:27] altmann commented on #73
Thanks for the response. If you have any other feedback please let me know.

[2020-10-30 16:27] #73 closed

[2020-12-08 19:16] altmann commented on #65
@JasonLandbridge Today I played a little bit with the FluentAssertions support and this is until now my favorite solution:

https://github.com/altmann/FluentResults/blob/c4bafd98c74e03239ce6d963daa3d497810f9c47/src/FluentResults.Extensions.FluentAssertions/Class1.cs#L35

What do you think? Feedback is highly appreciated :)

[2020-12-30 12:24] JasonLandbridge commented on #65
Yeah looks awesome! If it's stable, could you publish it? And then I will test it out in my own project!

[2021-01-06 18:57] HamedFathi opened #77 "[Question] Paging with Result"
How can I use a `PagedList` with your library?

[code]

Is this Ok?

[code]

[2021-01-07 10:33] altmann commented on #77
Thanks for your question. The code looks good to me. If you give me more context or the purpose why you want to use the result pattern then I can give you probably more suggestions for improvements.

Also see
- https://github.com/altmann/FluentResults#samplesbest-practices
- https://github.com/altmann/FluentResults#interesting-resources-about-result-pattern

[2021-01-07 10:51] #77 closed

[2021-01-15 15:18] altmann commented on #65
@JasonLandbridge The new package FluentResults.Extensions.FluentAssertions is published. https://www.nuget.org/packages/FluentResults.Extensions.FluentAssertions/

You can use it - I appreciate your feedback! Docu/samples will be published in the next days.

[2021-01-20 18:35] altmann commented on #65
And here is now the docu of the new package. https://github.com/altmann/FluentResults/wiki

[2021-02-13 15:54] crazycrank opened #79 "Proposal: Refactoring Reasons to c#9 records"
I'm currently working on a new project in which we use the FluentResults library a lot.
One of the shortcomings I see is the amount of boilerplate one has to write when working with typed error objects. Immediately I thought, this would be a perfect usecase for records.

Instead of having to write something like
[code]

this would reduce to

[code]

So this proposal is probably more of a question,

[2021-02-16 19:18] altmann commented on #79
Thanks for your proposal. I'am glad that you see the benefits of the result pattern and that you use FluentResults in your project.

It's an interesting idea and I think that these Error and Success types would be very good usecases for c# records. Less boilerplate is a big advantage but I also have to evaluate the impacts of such an change to the library.

I only see one way to support records in

[2021-02-16 20:19] altmann commented on #79
@crazycrank in which .net target framework do you want to use the records? .net 5

[2021-02-16 22:03] crazycrank commented on #79
Hey @altmann

First of all, glad you like the idea. I actually forked your repo and tried something similar although we obviously went to different routes, but if you like, you can take a look at my approach here:

**First to your approach**
Do I understand this correctly, the interfaces you introduced are
* to reduce backward compatibility issues with existing users of the library, as existing us

[2021-02-16 22:14] crazycrank commented on #79
Created a pull request for tracking, obviously don't merge it 😆  #80

[2021-02-17 13:56] crazycrank commented on #79
Another though I just had: It could be possible to work with compiler flags, and depending on which framework we are currently in, we either compile to a class or a record. This would bring another set of problems with it though (e.g. as soon as a user updates to net5, he would use the record version, which breaks his application without upgrading the FluentResult library)

[2021-02-17 14:59] altmann commented on #79
Thanks for your great input!

Records is a new feature in .NET - it is only available since october. I have currently no idea if this new c# feature will be widely used in the .NET community or if it is only used in some minor scenarios. Based on that uncertainty I think it makes no sense for me to only support records in a .net 5 version of FluentResults and lock out all the people who want to us

[2021-02-17 15:25] crazycrank commented on #79
I see what you mean regarding record usage, but tbh, I think they will find quick and widespread support in the community, as basically all simple data classes like Dto (or e.g. the Reason objects) get massively reduced in boilerplate, and together with the new with statement they have a really nice and simple feeling to it. But yeah, we'll need to see about that.

Looking forward to your thoughts

[2021-02-20 18:53] crazycrank commented on #79
So, I'm writing this for the second time now. But I've had some further thoughts regarding the whole topic of backwards compatibility.

The problem with using records for Reason classes is in essence their dependency on .NET 5. And it's not an easily solvable problem. It's not unsolvable, but leads to mostly undesirable side effects.

There are two ways to use records in your library without fully

[2021-02-22 15:27] altmann commented on #79
I also discussed this topic with some of my co-workers. Our results:
- To support only records as reason types is not possible because of the big breaking change in the public api and in the locked out users which such a change causes.
- The only way is to find an option to support both - classes and records.
  - Introduce an interface for Reason, Error and Success and support via these new interf

[2021-02-22 15:30] altmann commented on #79
**YES**, I wanna **record support for Error and Success types** in FluentResult and I **accept some breaking changes**. +1 this post

[2021-02-22 15:33] altmann commented on #65
I close this issue - the basic features are there. If someone needs more please create a new issue. Thanks @JasonLandbridge for creating this issue.

[2021-02-22 15:33] #65 closed

[2021-02-23 09:26] crazycrank commented on #79
Yeah I completely understand that, I'd probably make the same decision in your shoes.

I gotta ask you though: How would you feel about me re-releasing FluentResults as a different library?
* I would obviously credit you as the main author, and reference the original FluentResults, and give you complete admin rights over the repo as well
* I would take over the support for the library, although yo

[2021-02-25 14:43] altmann commented on #79
I really understand that you want record support. On the one hand I want to bring the library forwards and on the other hand I have to keep the library stable. Keep the balance between these two directions is sometimes not that easy.

**FluentResults and record support**
If you need record support then please fork my repo, change it and use it in your project INTERNALLY. I have no problem with tha

[2021-02-26 09:38] crazycrank commented on #79
Yeah I totally understand that, that's why I asked. I probably would feel similar, after all you put a lot of effort into this project, and I will of course respect your decision. I wanted to ask anyway though. Sorry if that irked you the wrong way, that wasn't my intention.

If you will ever go into the direction of records, please feel free to use anything you see in my PR or get inspired by it.

[2021-03-25 16:35] yaroslavbres opened #81 "Question: Is it possible to get/set value, even if result is failed"
First of all, I want to say, that it is a cool and simple library, which can help to up code readability.

But I faced with undesirable behavior (at least in some situations). Sometimes, throwing an exception when accessing Value is not desirable behavior when the Result is failed.

Let me describe my case:
I have method when I enumerate some lists and do some actions with items.  As method output

[2021-03-27 18:59] altmann commented on #81
Thanks for your feedback and your question.

First, the reason to force block get Value property ist to

[2021-03-30 06:11] altmann commented on #81
Thanks for your feedback and your question.

First, forcing block get Value property of a failed result and throwing an exception is by design. Most of the other result pattern libraries also implemented this behavior. The reason of this behavior is to prevent bugs. Specially to force the developer to call IsSuccess or IsFailed and only if the result is in success state then the Value property sho

[2021-04-01 14:06] yaroslavbres commented on #81
Thank you for the reply. I got your point, It definitely has sense.
I've chosen to return list of results and process it by caller method

[2021-04-01 14:06] #81 closed

[2021-04-11 21:24] whortleberrybearer opened #82 "Additional OkIf and FailIf features"
Just started using the library to refactor some existing code I have.  I have a common scenario that has I have come across that I keep having to do something like:

[code]

Basically, I’m trying to come up with a way of shortcutting this, similar to the OkIf and FailIf methods, something like:

[code]

Would these be suitable extensions to add?  Do have you any better ideas?

[2021-04-11 21:39] whortleberrybearer commented on #82
Not sure how doable this is, or if it would just add confusion to anyone reading it.

[code]

So, if `GetTheBars` fails, it returns that error, otherwise, the `Value` of `GetTheBars` is passed into the second function.

[2021-04-12 11:48] coderdnewbie commented on #34
Agreed this is very good library.

[2021-04-12 13:21] altmann commented on #82
I don't want to loose you as consumer of my library but I think what you want is something like this: https://github.com/vkhorikov/CSharpFunctionalExtensions#wrap-multiple-operations-in-a-transactionscope This lib also implements the Result pattern but it also has these extension methods like Ensure, Tap, etc. With these methods you can implement your scenario in a way you want. Maybe you can copy

[2021-04-12 16:54] whortleberrybearer commented on #82
I was looking at that library the other day, but it seemed too much for what I wanted to achieve,  I actually like the simplicity of this one in place of the basic result objects I normally end up with (with Value, Success and ErrorMessage properties).

I'll have a play at some point.  I wasn't overly sure the `FailIf` was the right way to go, it just fit in with your current API.  Borrowing the c

[2021-04-14 13:13] coderdnewbie commented on #54
Good news update. In link https://github.com/altmann/FluentResults/issues/54#issuecomment-667670664  it states:

‘Another story: Our solution works only with Autoface, Unity, ... but not with the asp.net core build in Microsoft dependency injection package because the Microsoft dependency injection package doesn't consider constraints and so the ValidationPipeline is injected in all usecases which

[2021-04-16 16:02] altmann commented on #82
I'am a little bit afraid to add this logic in the library because I think it doesn't scale well. Another problem I see is readability. Different devs have different usecases and need different methods. I don't think that one method can provide the flexibility to support all these usecases. The solution would be to provide these extension methods from the other library and this is a lot of work.

M

[2021-04-16 17:43] altmann commented on #54
@coderdnewbie Thanks for sharing the good news.

[2021-04-16 19:41] whortleberrybearer commented on #82
Yes, I completely agree.  I also would try to avoid going down the route to the FluentExtensions library. There is a lot of functionality in there that has nothing to do with results and more to do with managing to lifecycle of an object passed through the chain.  The original suggestion only came about as I was mainly using functionality of the `Result` object.

My actual solution was a simple me

[2021-04-28 11:30] pauldbentley opened #84 "Implicit operator from Result<TValue> to TValue"
Would you consider an implicit operator from `Result<TValue>` to `TValue` which would return a succeeded result?

[2021-05-01 13:26] altmann commented on #84
Thanks for giving feedback. On this topic I have a strong opinion, because I have a Domain Driven Design background and made a lot of experiences about Value Object conversions via implicit/explicit operators.

Implicit operators should succeed successfully in each case. For example int to decimal is safe, no information loss - implicit operator exists. Decimal to int is not safe because there is

[2021-05-14 15:36] whortleberrybearer opened #86 "Allow ToResult to accept a value"
Would it be suitable to add a `ToResult<T>(T value)`  option?  Currently, when using the ToResult it is just using the default value, or the converter is supplied.  For a scenario I have, I would like something other than the default.  e.g.,

[code]

I have currently worked round this by doing `fooResult.ToResult<bool>().WithValue(true)`.  The implementation would be something like:

[code]

[2021-05-16 17:28] altmann commented on #86
Hi.

If Foo() returns a failed result (=result with one or more errors) then ToResult(true) would copy the errors and would set the Value of Result<bool> to true. The caller of DoStuff() have in this scenario no chance to access the value because the Result<bool> object contains one or more errors. The reason behind that: If you try to access Value of a failed result you get an exception. You can

[2021-05-16 18:11] whortleberrybearer commented on #86
Sorry, my explanation may have been a little unclear.

What you have explained is what I expect the functionality to be.  For the `Result<T>` type, you have a `public Result<TNewValue> ToResult<TNewValue>(Func<TValue, TNewValue> valueConverter = null)` method to convert the value if it is not failed.  My suggestion is to try to replicate the same functionality, but instead of taking a converter, t

[2021-05-16 18:24] whortleberrybearer commented on #82
Going to close this as I agree it's not within the scope of the API.

However, if anyone ever finds this, the above examples could have been easily achieved by using the `Result<TNewValue> ToResult<TNewValue>(Func<TValue, TNewValue> valueConverter = null)` method.

[2021-05-16 18:24] #82 closed

[2021-05-16 19:14] altmann commented on #86
Ah I see your point. I will introduce this method in the next days.

[2021-05-16 19:53] whortleberrybearer commented on #86
I will sort it if you want and put a PR in if you want.

[2021-05-19 18:47] altmann commented on #86
Thanks again for your pull request. The new version is building and its on the way. I think it will be on nuget in the next hour.

[2021-05-19 18:48] #86 closed

[2021-05-30 08:09] JasonLandbridge commented on #79
Nothing to add, just my appreciation for this very interessting read on this topic. Both "sides" have great arguments and I am excited for the possibiilty of record implementation but stability is indeed a higher priority.

@crazycrank, you could make a great article about what you have written here and maybe get more feedback on the idea?

[2021-05-30 09:32] altmann commented on #79
Maybe in the next major version I will make some breaking changes and introduce Interfaces for Error, Success and Reason. This is the precondition to support error records in fluentresults.

[2021-06-25 20:10] jeffward01 commented on #84
------------

![image](https://user-images.githubusercontent.com/12589359/123479717-58d17280-d5cf-11eb-82ed-13e2bea69d83.png)

Hello!

Sorry I dont quite understand, which of these is ok?

It sounds like when you said:

* That ` return Result.Fail("Item does not exist")` is dangerous and will have errors?

Also, the two methods marked in green underline:

* `Result.Ok(itemDto)`
* `itemDto.ToResult

[2021-06-25 21:54] jeffward01 opened #88 "[Enhancement] Add the ability to add a generic object (or non generic) to the Fail(reason) method"
It would be nice to add an abstraction to the 'Fail' to where developers can add error codes and more details around the error.

See Facebook error codes for example:
https://developers.facebook.com/docs/graph-api/using-graph-api/error-handling

Personally, I use https://github.com/ardalis/SmartEnum **Smart Enums** for this usecase.

I would be able to pass this:

`Result.Fail(EnumIsInsertedHere,

[2021-06-26 05:28] altmann commented on #84
Hello, I'am on vacation so my answer is short. To return an success result with a value you have to use Result<T> as Return type of the method. In your case T is the type of itemDto. Then Result.Ok(..) is right and you have to change the fail method to Result.Fail<T>(...) You find that all in the readme.

[2021-06-29 20:30] jeffward01 opened #89 "[BUG] Result is in status failed. Value is not set."
Hello all,

I am encountering what appears to be a bug.

**Goal:*

In some methods, I want to return a Result<object> such as "User", so I query the **User**, and the **User** is wrapped by a Results object.

I see in the demo code, that you can wrap an Object like this:
![image](https://user-images.githubusercontent.com/12589359/123862633-964b3e00-d8f6-11eb-90eb-15b07b3d400c.png)

--------------

[2021-06-29 21:57] altmann commented on #89
Hi. The short answer is that I think that the result object will be serialized in your code because it is part of the return type of the Controller action. Therefore all properties are serialized - also .Value property. If you try to access the Value property of a failed result you get an exception.

Long answer will come tomorrow. Good night

[2021-06-30 01:17] jeffward01 commented on #89
@altmann Thank you for your quick response!

I have implemented the entire [FluentResults](https://github.com/altmann/FluentResults) library in one of my microservices, and plan to do it for the others once I get a handle on this.

Here is a demo repository I made with the issues I encountered:
https://github.com/jeffward01/FluentResultsExplore _(This runs better when you start the console app in

[2021-06-30 18:51] altmann commented on #89
Now the long version.

**Answer to your first post**
You return an object of OkObjectResult from the controller method. You pass an object of FluentResult Result into the constructor of OkObjectResult. This causes that the FluentResult Result object is serialized into Json/xml or whatever. During the serialization all properties from the FluentResult Result object are mapped into json. This means

[2021-06-30 19:08] altmann commented on #88
Thank your for your issue.

The FluentResults library is a very generic library. The goal is that the library can be used in every context - asp.net mvc application or a console application or in a class library. Therefore the library is designed in a way that the Error class can be customized for your specific needs. You can add further properties or set metadata. Details see [here](https://githu

[2021-07-01 05:52] jeffward01 commented on #89
Hello!

_(I included summarized replies and questions at the bottom of this reply)_

Thank you for this! It is very helpful to know that we should use a `ResultDto` object. (I did see this in the documentation, but all of your examples are for `Result` and not `Result<object>` so I was unsure if the process was the same. The documentation you provided is very helpful! I did not see many examples f

[2021-07-01 05:59] jeffward01 opened #90 "[Question] Is there a priority list of pending and enhancement features for those who would like to contribute?"
Hello!

I would love to contribute to the project, I am wondering where @altmann you think time should be spent.  Do you have a list of priorities for features? Such as:

- 1.)  Is there a `ToDo` list of features which need to be implemented
- 2.) is there a `Wishlist of Enhancements` which would be nice to have added to the library?

Thanks for the awesome library!

[2021-07-01 06:07] altmann commented on #89
You access .Value in the console app, line 69. This throws an exception if the result is in failed state.

ResultDto is not part of the lib because in most use cases its very project specific. Some project need a errorcode property, some not, some want a error description, some not.

[2021-07-01 06:13] altmann commented on #90
Cool, thats great. I organise the open todos/enhancements in the issue list. Currently no open issues are ready to implement.

Signing the nuget package is a topic but for this topic I have to make a research whats the best way to do it because it's a big change for the lib.
Another topic is c# record support. This is also a big breaking change for the public api in the lib. Therefore its on hold

[2021-07-03 11:27] EnergyNick commented on #90
I also think about it and can participate in the implementation, if necessary)

[2021-08-03 12:40] FlippievanDyk opened #91 "Extension methods for HttpResponsesCodes"
I am looking to use this library as a way to handle various different fail states that may occur in an Asp.Net API I am working on.

It's very rough at present, but essentially, I want to expose  extension methods like:
[code]

Would you be interested in this here, or not at all?

[2021-08-03 21:08] altmann commented on #91
Hi. Thanks for your question.

There was already a very similar question. See #1
The goal of this lib kept the same all the years - FluentResults should be used in many different contexts and should be independent from infrastructure stuff. Http is such an infrastructure stuff.

I think you can easily extend FluentResults in your project based on the existing extension points of FluentResults like

[2021-08-04 06:59] FlippievanDyk commented on #91
I didn't see #1 earlier, but yes, essentially the same.

I've only just started with this library, so I'll be sure to let you know if I find shortcomings.

Thank you8 for all the hardwork you have put into this

[2021-10-09 10:48] #91 closed

[2021-10-09 10:48] #90 closed

[2021-10-09 10:49] #88 closed

[2021-10-09 10:50] #56 closed

[2021-10-09 10:53] altmann opened #93 "New Release because of Logger Context improvements"
- changelog
- version increase

[2021-10-09 10:54] altmann opened #94 "Success, Error as interfaces"

[2021-10-09 10:54] altmann opened #95 "Update Dependencies"

[2021-10-09 10:55] altmann opened #96 "Cleanup readme"

[2021-10-28 20:41] Karql opened #103 "Question: Error type?"
Hi!

Maybe I've missed something but I wonder what is the best way to tell the library consumer what error he can expect?
For now error could be anything that inheritance from `IError`.

Suposse that we have an interface:

[code]
Libarary consumer looking at this has no idea what error he can expect.

 In one of the projects I am participating in we use something like this (simplified example).

[

[2021-10-30 14:20] #94 closed

[2021-10-30 15:13] altmann commented on #103
Thanks for your good question. I'am busy today, I will respond tomorrow.

[2021-10-31 08:41] altmann commented on #103
Hi

For me there are two types of failures, expected and unexpected failures. Unexpected failures are failures which are most caused by infrastructure dir example sqlexception, timeoutexception. In this scenario i want to stop the current Operation and log the failure. Therefore i use die unexpected failures exceptions and mit Fluentresults results.

In the other hand there are expected failures.

[2021-10-31 11:53] danmpopa opened #104 "(Possible) Issue caused by Error instantiation with null causedBy argument"
Hi,

When instantiating using overloaded [constructor](https://github.com/altmann/FluentResults/blob/41587720fc70498855d97dce33d7ce718d6c1c14/src/FluentResults/Reasons/Error.cs#L43) or deriving **Error** class and calling base constructor with null *causedBy* we could get a *System.NullReferenceException* when  browsing *Errors* list items and trying to access item properties, e.g. check [here](ht

[2021-11-02 07:07] Karql commented on #103
Hi again! 😉

Totally agree and I do it in the same way.

I see your point.  I don't say to always set Error type but to have a possibility to do it.
Something like:

[code]

Then you can return typed result from method and agregated them to generic one.
With this aproche you have self documented code.

e.g.

[code]

Looking at the interface you know that there is an method `AddUser` which can fail

[2021-11-15 03:48] GiorgioG commented on #103
First off, I'd like to say thank you for creating FluentResult!

One situation where you might want to differentiate between the handling of different expected failures is setting the appropriate HTTP status code. Take the following example:

[code]

In my ASP.NET Core Controller base class I have something like:

[code]

My UserController might contain the following method:

[code]

[2021-11-15 05:12] Karql commented on #103
Hi @GiorgioG!

Thank you for response.

Your example shows **one** error type (just Error) with **different** messages so this exactly meets my case.

Looking at `public Result<User> GetUserById(int userId)` you don't know what messages you can expect.

For your case I would like to have possibility to do something like this:

[code]

Regards,
Mateusz

[2021-11-15 14:19] GiorgioG commented on #103
Hi @Karql!

Good point.

Yes that would be nice! That reminds me of Rust's [Result<T,E>](https://doc.rust-lang.org/std/result/) type.

[2021-11-15 16:26] Karql commented on #103
Ok I think we need to wait for @altmann response.

[2021-11-16 19:35] altmann commented on #104
Thank you for your feedback.

I would prefer to throw an ArgumentNullException if causedBy is null so that the developer know that this is not a valid usage. If I implement it with the if expression (your suggestion) then it fails silently and its much harder to debug.

What do you think?

[2021-11-16 20:19] danmpopa commented on #104
Depending of your intention when you designed the class; if _causedBy_ is not optional your use-case applies, but for a better perspective on my suggestion, please see the Error class refactorization (overloaded ctor).
[Error.zip](https://github.com/altmann/FluentResults/files/7549496/Error.zip)

[2021-11-16 21:38] altmann commented on #103
Sorry that you wait so long for my response. It's currently a challenging time.

Before we introduce a new feature like this one in FluentResults I want to challenge it because when the feature is released I have to maintain it for a long time. Because of that I want to be sure that its really required.

I saw these kind of code a lot in the last years in different teams. Why do you catch all exce

[2021-11-16 23:54] GiorgioG commented on #103
No need to apologize - thank you for taking the time for responding in such a detailed fashion (and for building FluentResults!) For years, every time I went to a new employer inevitably I wound up creating our own 'Response' class.  I got tired of reinventing the wheel and that's how I found FluentResults.

Fair enough - it's easy for others to make suggestions when we aren't the ones maintaining

[2021-11-18 18:57] altmann commented on #104
I don't like these default parameter initialization much. If you mix it with some other constructors then its unclear for the consumer how to use it correctly.

I will implement the nullargument exception in the next days and discuss it with some people. Its an interesting topic. Multiple constructors vs one constructor with default parameter init.

[2021-11-18 20:15] danmpopa commented on #104
Fair enough, you call the shots.

From my perspective, as a package "customer" (consumer) I had this use-case: create an user account with following prerequisites: (simplified version) there is no other user with same name registered, therefore I have this method in a repository class which verifies the user name registration:

[code]

In this case if it fails then I'm safe and the account can be

[2021-11-24 12:04] bogdanpolak commented on #34
**+1 from me** @altmann great work .. keep coding!
maybe you should consider GitHub sponsorship program to enable us to give you more "stronger" positive feedback

[2021-11-28 21:20] altmann commented on #104
New version is out => https://www.nuget.org/packages/FluentResults/3.1.0

Thank you again for your feedback. I solved this problem now with a second constructor and a required causedBy parameter. I also added some more null checks in the error class.

[2021-11-28 21:20] #104 closed

[2021-12-02 20:42] altmann commented on #34
Thank you! Never thought about that.

[2021-12-08 16:33] czuvich opened #106 "Merge() with Success and Failures"
Excellent library by the way!  I am using the `Result.Merge()` method with both successful and failed results.  When I check the merged result, I only see the `.Errors` collection populated while the `.Successes` is empty.  Here's an example.  Is this by design?

[code]

[2021-12-09 17:49] altmann commented on #106
Hi @czuvich, thanks for your feedback and creating this issue.

Merge take all reasons of the results and merge them together to one result. A success result (created with Result.Ok()) contains no reasons in the property ``Reasons``. Therefore ``Merge`` in your scenario take all the errors and ignore the success result because it contains no reasons. In my head it makes sense because the success r

[2021-12-10 15:15] czuvich commented on #106
Hi @altmann,

Thanks for the quick reply for clarifying `Merge()`.  I tried invoking `Result.Ok("SUCCESS")`; however, it does not populate the reasons collection with `"SUCCESS"`.  I think I'm just a bit confused by the API usage.

Having said that, here's my scenario.  I have a domain event that triggers several handlers, and I would like to log the `Result<T>` of each handler.  In some cases, it

[2021-12-10 17:16] altmann commented on #106
Ah, now I understand your scenario.

``Result.Ok("SUCCESS")`` doesn't add "SUCCESS" to the Reason list. If you call ``Result.Ok(..)`` with a parameter you **set the value** of the result - that is something different.

There are two "information channels" in the result pattern:
- Value channel: value is set if its the success case (``Result.Ok(5)``); value is not set if its the failed case (``Resu

[2021-12-13 14:38] czuvich commented on #106
Thanks for the quick reply and detail explanation.  Everything is clear; however, I'd like to make a few suggestions:

1) Perhaps rename `.Merge()` to `.MergeReasons()`
2) `Merge()` should merge all result data and not just reasons.  I understand this would be a breaking API change though.  I do think there's value merging result values and reasons.

Again thanks.

[2021-12-13 16:07] #106 closed

[2021-12-25 10:40] danmpopa opened #107 "Prmomote Error ctor to protected virtual"
Hi & Merry Christmas to everyone! :)

Is there a chance on next releases to have ~~private~~ protected ~~and virtual~~ _Error_ constructor for an increased flexibility? Also _Message_ property could have `init` .

One of the reasons would be to derive and easily instantiate the _Error_ delaying setting up the Message especially when the _Message_ is formed using `ctor` args; e.g.:

[code]

[2021-12-29 09:09] altmann commented on #107
Hi

I think this is a good idea. I'am now on vacation. You can make the changes and create a PR. I will review it next year and create a new release of FluentResults.

[2022-01-05 09:44] danmpopa commented on #107
Hi,

For some reason I couldn't push a new branch - 403, but see attached file ([Error.zip](https://github.com/altmann/FluentResults/files/7813772/Error.zip)).

_Observations:_ I couldn't use `init` for _Message_ because of platform limitations (c# 7.3), needs 9.0 or above.

Also consider following:
- moving _ReasonFormat_ utility class into a separate file and make it static (see [this recommenda

[2022-01-18 18:39] altmann commented on #107
I released a new version with protected parameterless constructors for the classes Success and Error. https://www.nuget.org/packages/FluentResults/3.2.0

Thanks for your feedback!

PS
=> ReasonFormat utility class improvement will come later
=> Empty Message is valid? Yes its valid. This behavior is there since v1. Therefore I don't want to change it in a minor version because maybe some consumers

[2022-01-18 18:39] #107 closed

[2022-01-29 20:59] yarus opened #108 "Usage in Railway Oriented Programming"
Hi all, thanks for the great package!

I have a question about using Result<T> class in ROP manner to implement parallel validations.

Check this code as example:
`
public static Result<Email> Create(string email)
{
    if (string.IsNullOrWhiteSpace(email))
        return Result.Fail<Email>("Email is empty");

    email = email.Trim();

    var validationResult = Result.Merge(
        Result.FailI

[2022-02-02 18:51] altmann commented on #108
Hi,

I know this railway oriented style of programming in combination with the result pattern because I used it in a project some years ago. I'am not a big fan of that style. Its readable in simple scenarios but is hard to read in complex scenarios. Your scenario is not that complex and you hit already the border. But be aware - I didn't used it much.

You can inspire yourself from the github proj

[2022-02-11 08:37] yarus commented on #108
@altmann for the answer but I am still not sure how to better do this. I looked into CSharpFunctionalExceptions project but can't seems to find what I really need.

[2022-03-01 07:58] Sonnenspeer opened #111 "Integration into WebApi"
Hello,

I like the concept of having an action result instead of exceptions to handle logical errors.

Usually with exceptions I would implement custom domain exceptions which will be thrown in the application layer inside a mediator. Those would be catched through a middleware pipeline and be represented as the same status code. So in my controller I would return the wanted "successfull" status c

[2022-03-09 19:47] altmann commented on #111
Hi, thanks for your question. I know what you mean. One team of my employer had the same challenge. Our solution was the following
- The mediator return a Result or Result<T> object
- There is one central logic which handles all results and converts it to a http response
  - business/domain results (Result, Result<T>) => Http Bad Request Status Code
  - SecurityException => Http Unauthorized
  - E

[2022-03-21 15:19] johnknoop opened #112 "Any reason for requiring failure objects to derive from `Error`?"
Hi!

If I want to return a failure using `Result.Fail<MySuccessType>(new MyErrorType("hello"))` then you already know it's a failure (since I called `Fail`) so you don't need the object type in order to tell a successful result from a failure. So is there a good reason or could you remove this constraint?

Cheers

[2022-03-22 20:23] pilouk opened #113 "Feature : HasException<>"
You guys are doing a really good job on this library !
I manage to get my exception type but it would be really nice to retrieve an exception more easily

Here an example to retrieve an exception that was added in the _causedby_
` bool expired = result.Errors.Any(e => e.Reasons.OfType<ExceptionalError>().Any(r => r.Exception.GetType() == typeof(SecurityTokenExpiredException)));`

A new method coul

[2022-03-24 12:51] altmann commented on #113
Thanks for your feedback!

I understand your feature and I think its a good idea. If you want to support me it would be great if you create a pull request with this feature. If not it will take some time.

[2022-03-25 01:08] pilouk commented on #113
done -> https://github.com/altmann/FluentResults/pull/114

[2022-03-26 10:26] altmann commented on #113
Thanks for your contribution! If you are still motivated then you can also extend the readme dicunentation. If not then I will do it. I will release the new version in the next days.

[2022-03-26 10:28] altmann commented on #112
Sorry, I dont understand your question. Can you please explain it in another way.

[2022-03-26 14:04] pilouk commented on #113
Just committed the documentation

[2022-03-28 12:08] johnknoop commented on #112
I'm wondering what the reason is for the constraint that all failure objects (that you pass to `Result.Fail` must derive from your `Error` type.

[2022-03-28 16:57] altmann commented on #113
Thank you! I merged it and will release a new version today.

[2022-03-28 16:57] #113 closed

[2022-03-28 17:19] altmann commented on #112
I most of the cases you want to pass error messages. Therefore there is a method to pass only strings. See https://github.com/altmann/FluentResults#creating-a-result

This library supports a hierarchical way of designing errors, details see https://github.com/altmann/FluentResults#root-cause-of-the-error Therefore you need a base class to save the required properties on the error object. See class

[2022-03-28 17:20] #111 closed

[2022-03-28 17:54] johnknoop commented on #112
It just seems a bit arbitrary. It's not a huge trouble for me to let my error objects derive from `Error`, I just think it would be cleaner if they didn't have to, since it's not really needed for anything.

[2022-03-31 07:16] FlaviusHouk opened #115 "[Proposal] Include error information in exception thrown on attempt to obtain value of failed result."
## Motivation
In case result is failed somewhere and it wasn't properly checked, attempt to get a Value of a Result<T> will cause throwing an exception. It currently has a static message "Result is in status failed. Value is not set.". It allows to trace the source of error (in stack trace), but it might not be clear what caused it. Of course one might just refactor code to check IsFailed and thro

[2022-04-01 13:47] altmann commented on #115
Thank you for the feedback. Very good idea. If you are motivated you can create a pull request with this improvement and I will have a look at it.

[2022-04-02 17:47] dyha89 opened #116 "Timestamp in reasons"
Hi
In some usecases I have noticed that it would be nice to have a timestamp in Reasons/Errors/Successes.
Are you considering to add such property to IReason?

Other option could be some custom action in setup, like:
Result.Setup(cfg =>
{
  cfg.ReasonCustomAction(reason => reason.WithMetadata("Timestamp",DateTime.Now));
}

Such custom action would be called in all IReason classes constructors.

Wh

[2022-04-03 21:31] tomtomdurrant opened #118 "Usage with pattern matching"
I believe I've looked at other issues and can't find anything that is similar to this, however if an issue already exists please direct me to it.

I'm wondering if there is any way to use this library with the new(ish) pattern matching techniques that are made available by c# 8  and above. Something that I find very useful in other languages is the ability to match over a result type and then depe

[2022-04-08 18:03] altmann commented on #115
Thank you. It's merged. New version will come soon.

[2022-04-08 18:03] #115 closed

[2022-04-08 18:25] altmann commented on #116
Thanks for the feedback.

I think you can implement this behavior with the already existing extension points. Please create a child class from IError/Error and ISuccess/Success and add the timestamp as Metadata in the constructor.

[code]

Same for Success. I hope this is helpful. Maybe a good solution is to have the possibility to register custom factory methods for IError and ISuccess. I will ha

[2022-04-08 18:26] altmann commented on #118
Oh, interesting usecase. I will have a look at it.

[2022-04-08 19:25] altmann commented on #118
The following code works:

[code]

If you need something more advanced please let me know. I didn't find something to make your code possible.

[2022-04-10 16:36] altmann commented on #112
You can also derive from ```IError``` if you want.

[2022-04-10 16:36] #112 closed

[2022-04-10 16:42] altmann commented on #116
I released a new version of FluentResults some minutes ago - [FluentResults 3.4.0](https://www.nuget.org/packages/FluentResults/3.4.0)

In the new version we can configure the creation of IError/ISuccess and IExceptionalError which are created within the library. With these new extension points you can implement your needed timestamp handling in a more elegant way.
Details see [Set global factorie

[2022-04-10 18:34] dyha89 commented on #116
Hi,
Sweet :) That's exactly what I need :)
And in fact factory looks more elegant than action :)
Thanks a lot :)
Closing the issue.

[2022-04-10 18:34] #116 closed

[2022-04-15 13:30] tomtomdurrant commented on #118
Ah yes I forgot `IsFailed` and `IsSuccess` are members of `Result`. I think anything more would be unnecessary abstraction. So as far as I'm concerned this can be closed. Thanks!

[2022-04-19 09:41] KevinValmo opened #120 "Missing editor documentation."
Hello and nice work with this library!

I am using it, as a nuget, by following the readme.md file wich is fine and detailed but I noticed when I was writing some code in the editor (in my case VS 2022) that the editor documentation regarding methods, classes and field is missing.

Here below two simple examples:

![image](https://user-images.githubusercontent.com/55260200/163975198-ec0be0bb-8d7f-

[2022-04-20 07:39] altmann commented on #120
Thanks for the feedback. Yes you are right, the most of the public api documentation is missing. Why? I have no good reason. I will have a look at this topic but be aware that it will take probably some weeks to release a new version with the editor documentation.

[2022-04-20 13:26] KevinValmo commented on #120
Thank you for the reply.
Don't worry about release weeks since there is already a very good entry point for the documentation with the README file and the Wiki.

[2022-04-21 12:59] GimmeDaKitty opened #122 "Possibility to add multiple errors in Result.Fail<Model>()"
I have just discovered this library and I find it really useful, so thank you for making it available :)

For our use case, a result might contain multiple error (reasons).
I was just wondering whether it is possible to add multiple errors in the Resul.Fail method, like so:

var errors = new List<string>("error1", "error2");
var result = Result.Fail<Model>(errors);

I don't think the interface sup

[2022-04-21 19:29] altmann commented on #122
Hi, yes you are right. The current api doesn't support it. I like the idea and it fits to the current design. If you are motivated you can create a pr with this functionality. 4 new methods have to be added and some new tests. 2 methods for list of strings and list of IError and two methods for Result.Fail TValue and Result.Fail

Thanks for your feedback

[2022-04-21 19:39] altmann opened #123 "MapError with errorenhancer / MapSuccess with successenhancer"

[2022-04-30 13:44] GimmeDaKitty commented on #122
Created PR #125

[2022-05-02 12:38] ievgenii-shepeliuk opened #126 "[question] HasException bug or feature."
Hello

Is this a bug or a feature ? I expect `HasException()` to return true in this case, but it returns false.
The code below can be used to reproduce.

[code]

[2022-05-20 14:31] GimmeDaKitty commented on #122
Hi, did you have the chance to have a look at the PR?

[2022-05-20 20:34] altmann commented on #122
Hi, I am currently at vacation and I have to fix the release pipeline to publish New releases to nuget. So think I will have time for that all in june. Sorry for that.

[2022-05-21 07:09] armanhadi1458 opened #128 "success and errors message in result is empty"
Hello
im using fluent result version 3.5 with .net 6 api
When I return the answer with Result.Ok<PersonDto>(person).WithSuccess("Operation Successfull ...") in swagger reasons are fill bu successe message are empty why?

![222](https://user-images.githubusercontent.com/46371340/169640245-c9493a4e-db8f-4167-85d8-34e2db2d4138.png)

when switch in fluent result version 2.6 everything ok

[2022-06-02 14:30] pilouk commented on #126
Exceptions are validated from the CausedBy() method. You might want to used HasError() in your case

[2022-06-06 08:39] altmann commented on #128
Hi, the truth is I don't know. In v3 I switched from base classes (```Success``` and ```Error``` inherit from ```Reason```) to interfaces (```ISuccess``` and ```IError``` inherit from ```IReason```). Maybe in your serialization library is a different behavior for interfaces.

BUT I highly recommend to use your own custom Result class for public apis like swagger endpoint. Why, see [Serializing Res

[2022-06-06 08:54] altmann commented on #126
Thank you for your question. @pilouk was right - exceptions are validated against all added exceptions with the CausedBy() method. This means that all errors in the top level error list (Result.Errors) are ignored and only the errors in the Reasons list of the errors in the top level error list (Result.Errors[0].Reasons) are searched.

@pilouk introduced this feature in FluentResults. For me it wo

[2022-06-06 09:07] altmann commented on #122
Thank you so much for your pr. I made the review and added some comments. If you want then you can work in the comments. If not then please let me know then I will do the rest in the next weeks.

[2022-06-06 09:08] #120 closed

[2022-06-06 09:09] altmann commented on #120
Thank you so much for your pr. I merged it already in the master. A new release will come hopefully in the next days

[2022-06-06 09:45] Karql commented on #103
@altmann sory some how I've missed notification about your last reply 😥

When you made last reply I think you missed my comment: https://github.com/altmann/FluentResults/issues/103#issuecomment-957152699 and only replied to @GiorgioG

I still think that possibility to define error type whould be very good thing.
You can see example in PR I have made: https://github.com/Karql/FluentResults/commit/2

[2022-06-06 10:30] altmann commented on #103
Thank you all for the description of your use cases but currently I don't see the requirement to differentiate between different errors. I descriped already my opinion to this topic and I hope it was understandable.

@Karql I read your answer. I think the maintaining cost is higher then the advantage to have this feature that it is self-documented.

You described these three types:

One is missing

[2022-06-07 11:59] rkosmirak opened #129 "[quesion] Implicit operator to convert TValue to Result<TValue>"
Hello,

Just wondering, did you consider adding an implicit operator for converting `TValue` to `Result<TValue>`?

Currently, when you have a method that returns `Result<TValue>` you always need to return `Result.Ok(new TValue())`, but, it can be changed to just returning `new TValue()` instead.

[2022-06-08 21:24] pilouk commented on #126
@altmann I might be wrong but because they are actually different types? Your "Error" class definition must implement an interface "IError" which is not compatible with the Exception type. Therefore I thought it would be more logical to have a different function for a different type. In the same way, I'm not sure it would make any sense that HasError would be able to search for an Exception since

[2022-06-08 22:44] pilouk commented on #126
@altmann I didn't anticipate that someone could add an Exception through an Error without using the CausedBy function.

[2022-06-10 21:17] pilouk commented on #126
@altmann created a pull request for this : #130

[2022-06-10 22:39] Kingside88 commented on #128
I have the same issue.
So, yes having own Dto class makes sense. Someone uses ErrorCodes. We use in some cases "keys" to separate the message in specific part in frontend.

My idea is overwritting the JsonCoverter. This is useful, when you want to convert a specific class somehow.
In our case we want to convert the Result class into ResultDto.
The problem is, how can we provide the data? Do you ha

[2022-06-11 10:33] Kingside88 opened #131 "No issue: My example of generic ResultDto"
I want to provide my example how I use the ResultDto. Most of the code, I get from here.
But with mine you can optionally provide generic data.
I use this code like this:

`myResultObject.WithError($"Error while saving").ToResultDto(personnel);`

[code]

[2022-06-13 18:43] altmann commented on #129
Hi, thanks for your question. I think this would be a good enhancement for the consumers of the library. It would be great if you can create a pr for this feature.

Maybe this issue is interesting for you - it is the other way around #84

[2022-06-13 19:25] altmann commented on #128
Maybe an idea would be to use a middleware and not a custom JsonConverter for this task. https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-6.0 The middleware get hte result object and transform it to an ResultDto object.

[2022-06-13 19:27] altmann commented on #126
A new version is released https://www.nuget.org/packages/FluentResults/3.6.0

Thanks again for your time!

[2022-06-13 19:27] #126 closed

[2022-06-13 19:28] altmann commented on #122
A new version is released https://www.nuget.org/packages/FluentResults/3.6.0

Thanks again for your time!

[2022-06-13 19:28] #122 closed

[2022-06-13 19:29] GimmeDaKitty commented on #122
Sorry I did not react on time, glad to see the new release!

[2022-06-13 20:05] EdwOK opened #132 "[question] How about adding functional magic?"
Hello @altmann,

First of all I want to big thanks for this beautiful library.

Next, I'd like to consider the simple case when the library is used in a regular flow like this:
[code]
Looking at this chain of `if-return` statements (in imperative style) makes me want to somehow reduce the number of lines in the code. In order to achieve is using the techniques of `functional programming` like [her

[2022-06-13 20:34] testmabnanet opened #133 "FluentResults throws InvalidOprationException on getting or serializing the Value"
Please answer the following question on [stackOverfow](https://stackoverflow.com/questions/72608656/fluentresults-throws-invalidoprationexception-on-getting-or-serializing-value).

[2022-06-14 07:26] csatti opened #134 "Unsigned library raises ReflectionTypeLoadException"
When I'm trying to use reflections in a signed .NET Framework 4.6.1 WPF control, it raises [ReflectionTypeLoadException](https://docs.microsoft.com/en-us/dotnet/api/System.Reflection.ReflectionTypeLoadException?view=netframework-4.8) when I use the Assembly.GetTypes() on an assembly in which FluentResults is used.
As a stopgap, I cloned the repo and now manually sign it and publish it into our int

[2022-06-15 06:17] altmann commented on #132
Hi, thanks for your feedback.

Someone created already an issue for that. See #108 If you need it you can implement it in your own project (its only extension methods). Gain experience with that style and I think then we can talk again.

It is much effort to bring this functional style into this library and its much more effort to maintain it the next years. See the issues in https://github.com/vk

[2022-06-15 22:58] #132 closed

[2022-06-19 09:45] #133 closed

[2022-06-19 10:21] altmann commented on #134
Hi, thanks for your feedback. There are currently no plans to support a signed version of FluentResults.

[2022-06-19 10:22] altmann commented on #129
Thanks for your time. The new release: https://www.nuget.org/packages/FluentResults/3.7.0

[2022-06-19 10:22] #129 closed

[2022-06-19 10:23] #84 closed

[2022-06-19 10:24] #103 closed

[2022-06-19 10:24] #79 closed

[2022-06-19 10:30] rkosmirak commented on #129
Thanks

[2022-06-19 10:31] altmann opened #136 "Add xml documentation"
see build warnings

[2022-06-19 17:10] Azaferany opened #138 "add Deconstruct Operators to Result and ResultBase #137"
Hello,

Currently, when you have a method that returns Result you always need to check isSuccess with result.IsSuccess its all ok although
add some Deconstruction method can make it more simple

var (isSuccess, isFailure, value) = Result.Ok(100);
var (isSuccess, value) = Result.Ok(100);
var (isSuccess, value, errors) = Result.Success(100);

 [#137](https://github.com/altmann/FluentResults/pull/137

[2022-06-19 18:48] altmann commented on #138
PR: #137

[2022-06-30 20:07] altmann commented on #138
Pushed v3.8 to nuget. Thanks for your pr

[2022-06-30 20:07] #138 closed

[2022-06-30 20:08] altmann commented on #123
Pushed v3.8 to nuget.

[2022-07-14 19:38] altmann commented on #34
@bogdanpolak Today I added the sponsor button to my FluentResults project. So it is now possible to donate money via paypal.
<img width="79" alt="image" src="https://user-images.githubusercontent.com/3706830/179065621-d7333601-35ea-4d6c-b919-e5e7a317096f.png">

I'am looking forward to the first incoming donations. :)

Thanks again for the idea. Maybe I also integrate Github sponsorship program in

[2022-07-22 11:58] altmann opened #139 "Assertion: HasReason(message) comarison not only with contains"

[2022-08-02 19:34] vermiculus opened #140 "Expressing typical map() function"
My [googling](https://www.google.com/search?client=firefox-b-1-d&sa=N&sxsrf=ALiCzsZifx0EldrQnTo0KLRbFfFjatPTQw:1659468373551&q=site:stackoverflow.com+%22fluentresults%22+map&ved=2ahUKEwiroq-38aj5AhXWAzQIHcKgB4c4ChDm3gJ6BAghEAE&biw=1920&bih=955&dpr=1) has come up dry, so I thought I'd ask here: is there any implementation of the typical `map()` you would find in other implementations of the result

[2022-08-04 12:01] mtyski opened #141 "Lazy error evaluation of Result.OkIf and Result.FailIf"
As far as I am aware, the factory methods `OkIf` and `FailIf` need the `Error` instances to be provided at the moment they are called.

This may pop up in scenarios, where a reported `Error` instance requires access to the data which might not exist:

[code]

The proposed feature would be to implement following method overloads:

- `Result.OkIf(bool condition, Func<string>)`
- `Result.OkIf(bool co

[2022-08-04 15:17] altmann commented on #141
Looks good. Would be happy if you create a pr for this feature. I would be more happy if you also add some tests and extend the readme file with this feature. I will encrease the version number, write the changelog and generate the package.

Thanks in advance

[2022-08-04 18:29] mtyski commented on #141
Hi @altmann, thanks for a quick reply! The pull request, including overloads implementation, unit tests and a short section in the README is opened and ready for review.

[2022-08-04 20:25] #141 closed

[2022-08-04 20:27] altmann commented on #141
thank you for the great pr. I merged it already into the master branch. New package will be generated hopefully tomorrow.

[2022-08-05 09:09] ricksanchez commented on #140
Hi, having a `.Map` doesn't make an object to be a monad, only a functor. I think the `.Map` can be a handy alias of `.ToResult`. @altmann what do you think?

Consider this code:

[code]

[2022-08-05 13:52] vermiculus commented on #140
Perhaps I'm not doing something correctly -- I don't think ToResult has the behavior I need.

![image](https://user-images.githubusercontent.com/2082195/183091023-fca3dd53-21b1-4622-bf85-3b7e56e8272c.png)
![image](https://user-images.githubusercontent.com/2082195/183091074-a8088560-828f-43d2-966e-ecaf2a31e598.png)

Notice how the second `ToResult` returns a `Result<Result<T>>` instead of just a `R

[2022-08-05 14:07] ricksanchez commented on #140
Ok, `.Map` functions normally map the value of the structure into a new value. A function called `.Bind` or `.FlatMap`, or `.Then` or `.AndThen`.

If you come from Haskell, `.Map` is like `fmap` and the others are like `>>=`. Rust equivalent is `.and_then` (Option type).

I would suggest to call it `.FlatMap`. Maybe it can implement `IEnumerable` and `.SelectMany` (losing its errors).

[2022-08-05 14:41] vermiculus commented on #140
`and_then` is indeed what I'm talking about, but [in the `Result` type](https://doc.rust-lang.org/stable/std/result/enum.Result.html#method.and_then) 😄

Yeah, in retrospect, `Map` wasn't the best name for my extension method. I was copying [`typescript-monads`' syntax](https://www.npmjs.com/package/typescript-monads) just from familiarity with another project that uses it, but thanks for pointing

[2022-08-05 14:51] altmann commented on #139
released with v3.9

[2022-08-05 14:51] #139 closed

[2022-08-05 15:08] altmann commented on #140
Hi guys!

First: ```ToResult(...)``` is not what you want. See https://github.com/altmann/FluentResults#converting for details - ```ToResult()``` is for converting from ```Result<T>``` to ```Result``` or vice versa.

Second: This functional magic was already discussed in some issues in the past (#132, #108). Please read it. Summary: I don't want to introduce such a complexity in the FluentResults

[2022-08-05 15:12] altmann commented on #141
New package is out: https://www.nuget.org/packages/FluentResults

[2022-08-06 07:11] ricksanchez commented on #140
I have already 2 projects using the `.Bind` method. Before this, we were treating the Result in similar way as golang treat errors, it was too pattern-y imperative handling of errors.

The `.Bind` method will bring OOP style, rather than structural/procedural. I wouldn't call it "functional magic". Because it is a technique of Category Theory, popular in FP, and yet not part of it. And we are goin

[2022-08-10 13:54] kuldeepGDI opened #144 "The Dictionary<string, object> is returning object as Result<string[]> instead of string[] since 3.7"
Hi,

since the update of fluentResults to 3.7 we are facing following issue. We have a code which functions as following

`public static Result<dynamic> DynamicConvert(dynamic source, Type dest)
        {
            var result = new Result<dynamic>();
            try
            {
                var converted = Convert.ChangeType(source, dest);
                return result.WithValue(converted);

[2022-08-11 05:52] altmann commented on #144
Hi,

in the release notes I see that we added a new implicit conversation in v3.7 (see https://github.com/altmann/FluentResults/releases/tag/v3.7) Issue and PR is also linked.

![image](https://user-images.githubusercontent.com/3706830/184070944-1abbc3fc-1752-4a59-954d-065d6a958274.png)

I think that the method WithValue() works correctly. But after WithValue() an implicit conversation occur and t

[2022-08-11 05:55] altmann commented on #140
How many methods do you think you will add? Can you write down the signatures please so that I get the big picture. Thanks

[2022-08-11 18:21] ricksanchez commented on #140
[code]

The name is debatable, since there is the `ToResult<TNewValue>` method, maybe `BindResult` or `ToFlatResult`.

The idea is simple, be able to call functions that take a `T` with a `Result<T>`.

Additionally, if agreed, the `BindAsync` can be implemented for convenience.

[2022-08-11 19:47] altmann commented on #144
@kuldeepGDI I invested some time and have now a working solution. I don't have much experience with dynamic in c# because I try to prevent it in all my projects.

Please look at the pr #145. There you see the changes and also the test which I added. Please let me know your opinion.

[2022-08-11 19:57] altmann commented on #140
Please create a pr so that I get the idea. MVP style - let the ToResult(..) stable and don't create a Map alias for them.

[2022-08-11 20:32] kuldeepGDI commented on #144
I added my comment there, when would be the new version published then ? THanks a lot for quick fix !

[2022-08-12 14:07] altmann commented on #144
The new version 3.11 is released in some minutes. I keep the issue open. If you know why its double casted please let me know.

[2022-08-24 12:58] septst opened #147 "Extension for merging"
Hello,

First off, I have been using FluentResults for a while and found it really great so far. I mostly use this library for Return Types like ```Result<some-type>```. I have a question or suggestion. I would like to collate multiple errors/reasons into one result and I use ```Result.Merge(...)``` for this purpose. I wonder if there is any better approach or any suggestion.

What I am currently

[2022-09-07 17:58] altmann commented on #147
Hi, thanks for your feedback.

I'am dealing with the same scenario. I would write ...

[code]

If you still need a result.Merge(...) method then feel free to submit a pull request. The setup of FluentResults is very easy.

[2022-09-07 18:11] altmann commented on #140
Sorry for the delay. I reviewed the pr and merged it into the master. I will wait for a pr of another issue - by the end of the week I will publish a new version of FluentResults

[2022-09-07 18:19] septst commented on #147
Many thanks for your response. This is much more elegant than what I achieved with ```WithError``` as below

[code]

[2022-09-07 18:19] #147 closed

[2022-09-11 12:56] altmann commented on #147
1. I don't really understand that. WithReason() has the same logic as WithError()
<img width="269" alt="image" src="https://user-images.githubusercontent.com/3706830/189528246-27d2770c-1cd5-4deb-9553-1b15f1a9480a.png">

2. Yes this is intentional. I think it was because to support a generic approach for that mediatr validation pipeline https://github.com/altmann/FluentResults/blob/master/src/Fluen

[2022-09-11 13:14] altmann commented on #140
New package is out https://www.nuget.org/packages/FluentResults/3.12.0

Thanks for your time inventstment.

[2022-09-15 12:59] mtyski opened #148 "ResultHelper.MergeWithValue enumerates results parameter multiple times"
Extension method `IEnumerable<Result<TValue>>.Merge()` enumerates passed `results` collection multiple times. This might cause side effects to be introduced multiple times; the following code sample throws an `InvalidOperationException`:

[code]

The workaround is to materialize the results enumerable before merging. Fixing that requires change in the implementation of `MergeWithValue` to one that

[2022-09-18 12:14] altmann commented on #148
Thanks for your feedback. I will have a look at it.

[2022-09-18 12:42] altmann commented on #148
Thanks again for creating the issue. The new fixed version will be released in the next hour... https://www.nuget.org/packages/FluentResults/3.13.0

[2022-09-18 12:42] #148 closed

[2022-09-24 10:00] altmann opened #149 "Idea: Simple and good Integration with ASP.NET Core"
If you are interested like the issue :)

[2022-09-24 10:02] altmann opened #150 "Idea: Comparison of some Result libs"

[2022-09-27 11:49] schoetbi opened #151 "In LogIfFailed() the default logging level should be Error"
When a result has Errors the default logging level in the various `LogIfFailed `methods should be `LogLevel.Error`. In case I want to have a warning instead, I could overwrite this. The current default value could lead to an error that will not be logged due to a mild logging level.

[code]

[2022-09-27 11:56] schoetbi opened #152 "Add implicit conversion from string to Result.Fail(message)"
In this method I want to return `Result<int>`. In case of an error I want to return the error message:

[code]

It would be nice to have an implict conversion from string to Result like this:

[code]

[2022-09-28 20:20] altmann commented on #152
Hi, thanks for your feedback.
I understand your issue. In FluentResult there is already an implicit conversion implemented - T can implicitly casted to Result<T>.

[code]

Therefore it is not possible to add another implicit conversion. It would be too complicated and too hard to understand for the developers if we change it.

[2022-09-28 20:21] altmann commented on #151
Hi, thank you. I will have a look at it.

[2022-09-29 04:30] schoetbi commented on #152
I understand especially if `Result<string>` is used. I close this issue. Thanks for looking into it.

[2022-09-29 04:30] #152 closed

[2022-10-03 18:12] eltoncezar commented on #149
I've created something very simple to deal with Results and HTTP Status Codes, please take a look:
https://github.com/eltoncezar/FluentResults.StatusCodes

[2022-10-05 07:11] altmann commented on #149
Cool. I was not aware that something similar already exists. I had a look at it - I think that the new aspnetcore integration package will be similar to your code but in total very different. I spiked already a little bit. :)

[2022-10-09 13:43] altmann opened #154 "Idea: Enable nullable context"

[2022-10-10 15:43] altmann commented on #149
I pushed currently my first version of the aspnetcore integation. https://github.com/altmann/FluentResults/tree/features/AspNetCoreIntegration/src/FluentResults.Samples.WebHost/Controllers

Public APIs
- ToActionResult(...) to transform a Result / Result<T> to a HttpResponse [example](https://github.com/altmann/FluentResults/blob/features/AspNetCoreIntegration/src/FluentResults.Samples.WebHost/Con

[2022-10-10 19:01] altmann commented on #128
I plan to release a new package with aspnetcore integration in the next weeks. Follow #149 for more information.

[2022-10-10 19:01] #128 closed

[2022-10-12 06:38] awaters-meltin commented on #149
I recently went down the rabbit hole with this and come up with something somewhat similar to @eltoncezar w.r.t. custom error types (but errors just implementing an `IStatusCodeError`). But rather than using a `Validate` method or `.ToActionResult()` extension method I'm using a `ResultFilter` (I very quickly got tired of calling `Validate` and/or `.ToActionResult()` everywhere).

This might be a

[2022-10-13 17:52] altmann commented on #149
@awaters-meltin Thank you for your comment. I also played around a bit with an aspnetcore filter but then I deleted the code.

This biggest disadvantage of filters is the intransparency - the controller api is lying - in background the return value (=result object) of the controller is translated into something else. You write it already, swagger need because of that some custom configuration to w

[2022-10-14 17:55] altmann commented on #149
Is the usage of the [ProblemDetails](https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.problemdetails?view=aspnetcore-7.0) class a MUST-HAVE in the default logic of FluentResults.Extensions.AspNetCore? For sure the default logic can be overwritten.

[2022-10-14 17:59] altmann commented on #151
The new package is out [3.14.0](https://www.nuget.org/packages/FluentResults/3.14.0)

Thank you for your feedback!

[2022-10-14 17:59] #151 closed

[2022-10-16 23:47] awaters-meltin commented on #149
If they're trying to follow the official RFCs etc. (https://www.rfc-editor.org/rfc/rfc7807) then they'd want the `ProblemDetails`, but some companies love to roll their own error format (of course lol).

So I don't know about a "must have", but I don't think there's a reason not to. 🤷

[2022-10-18 20:10] altmann commented on #149
Haha, in my current project in the job we also have a custom error model. ;)

I will have a look at the ProblemDetails class in the next days and I hope I can release a first preview package of the aspnetcore integration until the end of october. Thanks for your comment.

[2022-10-18 22:57] michaelakin opened #158 "How do I fill errors"
I have tried a few things and don't see any difference for RootCause and I wonder how to fill in the errors instead of Reasons.

Here is my code:

[code]

And here is what I got as a result:

[code]

I am sure I missed something in the documentation.

Also, how have people converted the results of FluentValidation into your model so we only return 1 type of object back  instead of several differen

[2022-10-19 17:41] michaelakin commented on #158
Since we should not serialize the object, I think you are saying to not use this as the return object for WebApi calls.  Am I understanding this correctly?

[2022-10-19 17:54] altmann commented on #158
yes thats correct. Iam currently create a new package exactly for that scenario - details see #149
I think I will release a preview version of it in the next weeks.

[2022-10-19 20:22] michaelakin commented on #158
Thanks, I will look for it, but I have to create something now I think.

[2022-10-23 08:36] #158 closed

[2022-10-27 12:32] RHaughton opened #159 "[Enhancement] Add Implicit conversion from Error to FailResult"
Just like the Implicit Conversion to Ok Result.

just return;
`return new Error("msg");`

instead of :
`return Result.Fail(new Error("msg");`

[2022-10-27 13:19] RHaughton commented on #159
just added a pull request : https://github.com/altmann/FluentResults/pull/160

[2022-10-28 11:27] erman-afacan-deltatre opened #161 "[Enhancement] Null == Result.Fail"
Hi,

I started to use this library recently I must admit It is brilliant. I wonder if you like the idea of that returning null is equivalent to returning a fail state.

Let's say I have an external method called like
`Result<SomeReferanceType> someResponse = await ExternalMethodCall()`

If the `ExternalMethodCall` function returns null, getting `Result.Fail("reference is null")`  would be nice.

P

[2022-10-28 19:12] altmann commented on #159
Thanks for your feedback. I think its a good idea. I reviewed your pr and left some comments.

[2022-10-28 19:17] altmann commented on #161
Thanks for your feedback. I will think about it in the next days but my current opinion is that it is a very special case,  it is not a behaviour which a dev expect and it is very hard to read. Its some hidden magic.
Because of that I think its better to not implement it.

If you have some other ideas please let me know.

[2022-11-06 20:56] altmann opened #162 "Refactoring CI/Release Pipelines"

[2022-11-09 15:24] RchrdMgwtz opened #165 "Result<object> results get packed twice"
I have just come across a behaviour of the library that seems a little bit strange to me:

[code]
With this code snippet, I expected the value 42 to be output on the console. However, `TestMethod` returns a `Result`, which contains another `Result` as `Value`, containinig the 42. So the 42 is packed twice.

If, on the other hand, I cast the 42 directly to an `object`, the 42 is output on the conso

[2022-11-09 18:13] altmann commented on #165
Not good. I think its caused by an implicit cast operator. Would be great if you can debug it to find the root cause. If not then I will do it in the next days/weeks.

[2022-11-10 07:59] RchrdMgwtz commented on #165
As far as I can see, the cause lies in the implicit cast in Result.cs:

[code]
Since `TValue` is `object` and `value` is of type `Result<int>`, the penultimate line wraps the value once again with a `Result.Ok()`.

[2022-11-11 22:34] theiam79 opened #166 "[Enhancement] Extend Try() methods to allow manually returned results"
I think it would be a nice QoL/Convenience feature to extend the `Result.Try()` methods to allow for manually returned results. Essentially, if the given function itself returns a result, simply return that result unless an exception is thrown, in which case it is wrapped and returned as a result.

[code]

What are your thoughts on this? I'd be happy to submit a PR if you want.

Thanks for the exc

[2022-11-14 18:49] altmann commented on #166
Thank you for the feedback. I think its a good idea. Please submit a pr and please don't forget also the async Task methods, the tests and the docu in the readme.

I will increase the version number and the changelog.

[2022-11-18 20:15] altmann commented on #165
@RchrdMgwtz Do you know a solution how we can fix it?

[2022-11-19 14:01] altmann commented on #149
I tried it but then it is not possible to change the resulting dto in the background by using the extension points.

[2022-11-19 14:04] altmann commented on #149
Thanks for all the feedback.

Because I'am out of time I released today the [v0.1.0](https://www.nuget.org/packages/FluentResults.Extensions.AspNetCore/0.1.0). Its on nuget, so you should be able to use it. If you use it read the [documentation](https://github.com/altmann/FluentResults/wiki/Returning-Result-Objects-from-ASP.NET-Core-Controller)

If you have feedback to the functionality/api or the

[2022-11-19 15:11] eltoncezar commented on #149
@altmann would you give us permission to edit wiki pages?

[2022-11-21 11:12] altmann commented on #149
I don't know how to so it. Maybe you have to clone the wiki repo and make a pr https://github.com/altmann/FluentResults.wiki.git